.liwe3-paper {
    background-color: var(--liwe3-paper);
    color: var(--liwe3-color);
    padding: var(--liwe3-space-3);
    border-radius: var(--liwe3-border-radius);
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
}

.liwe3-scheme-primary {
    background-color: var(--liwe3-primary-color);
    color: var(--liwe3-default-color);
}

.liwe3-scheme-secondary {
    background-color: var(--liwe3-secondary-color);
    color: var(--liwe3-default-color);
}

.liwe3-scheme-success {
    background-color: var(--liwe3-success-color);
    color: var(--liwe3-secondary-color);
}

.liwe3-scheme-danger {
    background-color: var(--liwe3-error-color);
    color: var(--liwe3-default-color);
}

.liwe3-scheme-warning {
    background-color: var(--liwe3-warning-color);
    color: var(--liwe3-default-color);
}

.liwe3-scheme-info {
    background-color: var(--liwe3-info-color);
    color: var(--liwe3-default-color);
}

.liwe3-scheme-dark {
    background-color: var(--liwe3-dark-color);
    color: var(--liwe3-light-color);
}

.liwe3-scheme-light {
    background-color: var(--liwe3-light-color);
    color: var(--liwe3-dark-color);
}

.liwe3-scheme-alternative {
    background-color: var(--liwe3-alternative-color);
    color: var(--liwe3-default-color);
}