.liwe3-light-theme {
    .svelte-select {
        --font-size: var(--liwe3-font-size);
        --height: calc(var(--font-size) + calc(var(--liwe3-input-padding-y) * 8));
        --max-height: calc(var(--height) + .2rem);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-mode3-200-border);
        --input-padding: var(--liwe3-input-padding-y);
        --value-container-padding: var(--liwe3-input-padding-y) var(--liwe3-input-padding-y);

        .value-container>input {
            padding-block: clamp(1px, var(--input-padding) * 2.5, 15px);
            padding-inline: clamp(5px, var(--input-padding) * 4, 20px);
        }

        &.xxs {
            padding: 0.12rem 0.2rem !important;
            font-size: 0.75rem;
            min-width: calc(var(--liwe3-input-w-unit) * 4);
        }

        &.xs {
            padding: 0.15rem 0.22rem !important;
            font-size: 0.75rem;
            min-width: calc(var(--liwe3-input-w-unit) * 5);
        }

        &.sm {
            padding: 0.18rem 0.24rem !important;
            font-size: 0.875rem;
            min-width: calc(var(--liwe3-input-w-unit) * 6);
        }

        &.md {
            /* padding is the default value defined in css variables */
            font-size: 1rem;
            min-width: calc(var(--liwe3-input-w-unit) * 7);
        }

        &.lg {
            padding: 0.22rem 0.28rem !important;
            font-size: 1.12rem;
            min-width: calc(var(--liwe3-input-w-unit) * 8);
        }

        &.xl {
            padding: 0.24rem 0.4rem !important;
            font-size: 1.25rem;
            min-width: calc(var(--liwe3-input-w-unit) * 9);
        }

        &.xxl {
            padding: 0.28rem 0.45rem !important;
            font-size: 1.5rem;
            min-width: calc(var(--liwe3-input-w-unit) * 10);
        }
    }

    .svelte-select.mode1 {
        --background: var(--liwe3-light-mode1);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-mode1-200-border);
        --placeholder-color: var(--liwe3-light-mode1-500-text);
        --item-color: var(--liwe3-light-mode1-500-text);
        --item-hover-color: var(--liwe3-light-mode1-500-hover);
        --item-hover-bg: var(--liwe3-light-mode1-700-hover);
        --list-background: var(--liwe3-light-mode1);
    }

    .svelte-select.mode2 {
        --background: var(--liwe3-light-mode2);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-mode2-200-border);
        --placeholder-color: var(--liwe3-light-mode2-500-text);
        --item-color: var(--liwe3-light-mode2-500-text);
        --item-hover-color: var(--liwe3-light-mode2-500-hover);
        --item-hover-bg: var(--liwe3-light-mode2-700-hover);
        --list-background: var(--liwe3-light-mode2);
    }

    .svelte-select.mode3 {
        --background: var(--liwe3-light-mode3);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-mode3-200-border);
        --placeholder-color: var(--liwe3-light-mode3-500-text);
        --item-color: var(--liwe3-light-mode3-500-text);
        --item-hover-color: var(--liwe3-light-mode3-500-hover);
        --item-hover-bg: var(--liwe3-light-mode3-700-hover);
        --list-background: var(--liwe3-light-mode3);
    }

    .svelte-select.mode4 {
        --background: var(--liwe3-light-mode4);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-mode4-200-border);
        --placeholder-color: var(--liwe3-light-mode4-500-text);
        --item-color: var(--liwe3-light-mode4-500-text);
        --item-hover-color: var(--liwe3-light-mode4-500-hover);
        --item-hover-bg: var(--liwe3-light-mode4-700-hover);
        --list-background: var(--liwe3-light-mode4);
    }

    .svelte-select.link {
        --background: var(--liwe3-light-link);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-link-200-border);
        --placeholder-color: var(--liwe3-light-link-500-text);
        --item-color: var(--liwe3-light-link-500-text);
        --item-hover-color: var(--liwe3-light-link-500-hover);
        --item-hover-bg: var(--liwe3-light-link-700-hover);
        --list-background: var(--liwe3-light-link);
    }

    .svelte-select.info {
        --background: var(--liwe3-light-info);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-info-200-border);
        --placeholder-color: var(--liwe3-light-info-500-text);
        --item-color: var(--liwe3-light-info-500-text);
        --item-hover-color: var(--liwe3-light-info-500-hover);
        --item-hover-bg: var(--liwe3-light-info-700-hover);
        --list-background: var(--liwe3-light-info);
    }

    .svelte-select.success {
        --background: var(--liwe3-light-success);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-success-200-border);
        --placeholder-color: var(--liwe3-light-success-500-text);
        --item-color: var(--liwe3-light-success-500-text);
        --item-hover-color: var(--liwe3-light-success-500-hover);
        --item-hover-bg: var(--liwe3-light-success-700-hover);
        --list-background: var(--liwe3-light-success);
    }

    .svelte-select.warning {
        --background: var(--liwe3-light-warning);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-warning-200-border);
        --placeholder-color: var(--liwe3-light-warning-500-text);
        --item-color: var(--liwe3-light-warning-500-text);
        --item-hover-color: var(--liwe3-light-warning-500-hover);
        --item-hover-bg: var(--liwe3-light-warning-700-hover);
        --list-background: var(--liwe3-light-warning);
    }

    .svelte-select.error {
        --background: var(--liwe3-light-error);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-light-error-200-border);
        --placeholder-color: var(--liwe3-light-error-500-text);
        --item-color: var(--liwe3-light-error-500-text);
        --item-hover-color: var(--liwe3-light-error-500-hover);
        --item-hover-bg: var(--liwe3-light-error-700-hover);
        --list-background: var(--liwe3-light-error);
    }
}

.liwe3-dark-theme {
    .svelte-select {
        --font-size: var(--liwe3-font-size);
        --height: calc(var(--font-size) + calc(var(--liwe3-input-padding-y) * 8));
        --max-height: calc(var(--height) + .2rem);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-mode3-200-border);
        --input-padding: var(--liwe3-input-padding-y);
        --value-container-padding: var(--liwe3-input-padding-y) var(--liwe3-input-padding-y);

        .value-container>input {
            padding-block: clamp(1px, var(--input-padding) * 2.5, 15px);
            padding-inline: clamp(5px, var(--input-padding) * 4, 20px);
        }

        &.xxs {
            padding: 0.12rem 0.2rem !important;
            font-size: 0.75rem;
            min-width: calc(var(--liwe3-input-w-unit) * 4);
        }

        &.xs {
            padding: 0.15rem 0.22rem !important;
            font-size: 0.75rem;
            min-width: calc(var(--liwe3-input-w-unit) * 5);
        }

        &.sm {
            padding: 0.18rem 0.24rem !important;
            font-size: 0.875rem;
            min-width: calc(var(--liwe3-input-w-unit) * 6);
        }

        &.md {
            /* padding is the default value defined in css variables */
            font-size: 1rem;
            min-width: calc(var(--liwe3-input-w-unit) * 7);
        }

        &.lg {
            padding: 0.22rem 0.28rem !important;
            font-size: 1.12rem;
            min-width: calc(var(--liwe3-input-w-unit) * 8);
        }

        &.xl {
            padding: 0.24rem 0.4rem !important;
            font-size: 1.25rem;
            min-width: calc(var(--liwe3-input-w-unit) * 9);
        }

        &.xxl {
            padding: 0.28rem 0.45rem !important;
            font-size: 1.5rem;
            min-width: calc(var(--liwe3-input-w-unit) * 10);
        }
    }

    .svelte-select.mode1 {
        --background: var(--liwe3-dark-mode1);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-mode1-200-border);
        --placeholder-color: var(--liwe3-dark-mode1-500-text);
        --item-color: var(--liwe3-dark-mode1-500-text);
        --item-hover-color: var(--liwe3-dark-mode1-500-hover);
        --item-hover-bg: var(--liwe3-dark-mode1-700-hover);
        --list-background: var(--liwe3-dark-mode1);
    }

    .svelte-select.mode2 {
        --background: var(--liwe3-dark-mode2);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-mode2-200-border);
        --placeholder-color: var(--liwe3-dark-mode2-500-text);
        --item-color: var(--liwe3-dark-mode2-500-text);
        --item-hover-color: var(--liwe3-dark-mode2-500-hover);
        --item-hover-bg: var(--liwe3-dark-mode2-700-hover);
        --list-background: var(--liwe3-dark-mode2);
    }

    .svelte-select.mode3 {
        --background: var(--liwe3-dark-mode3);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-mode3-200-border);
        --placeholder-color: var(--liwe3-dark-mode3-500-text);
        --item-color: var(--liwe3-dark-mode3-500-text);
        --item-hover-color: var(--liwe3-dark-mode3-500-hover);
        --item-hover-bg: var(--liwe3-dark-mode3-700-hover);
        --list-background: var(--liwe3-dark-mode3);
    }

    .svelte-select.mode4 {
        --background: var(--liwe3-dark-mode4);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-mode4-200-border);
        --placeholder-color: var(--liwe3-dark-mode4-500-text);
        --item-color: var(--liwe3-dark-mode4-500-text);
        --item-hover-color: var(--liwe3-dark-mode4-500-hover);
        --item-hover-bg: var(--liwe3-dark-mode4-700-hover);
        --list-background: var(--liwe3-dark-mode4);
    }

    .svelte-select.link {
        --background: var(--liwe3-dark-link);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-link-200-border);
        --placeholder-color: var(--liwe3-dark-link-500-text);
        --item-color: var(--liwe3-dark-link-500-text);
        --item-hover-color: var(--liwe3-dark-link-500-hover);
        --item-hover-bg: var(--liwe3-dark-link-700-hover);
        --list-background: var(--liwe3-dark-link);
    }

    .svelte-select.info {
        --background: var(--liwe3-dark-info);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-info-200-border);
        --placeholder-color: var(--liwe3-dark-info-500-text);
        --item-color: var(--liwe3-dark-info-500-text);
        --item-hover-color: var(--liwe3-dark-info-500-hover);
        --item-hover-bg: var(--liwe3-dark-info-700-hover);
        --list-background: var(--liwe3-dark-info);
    }

    .svelte-select.success {
        --background: var(--liwe3-dark-success);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-success-200-border);
        --placeholder-color: var(--liwe3-dark-success-500-text);
        --item-color: var(--liwe3-dark-success-500-text);
        --item-hover-color: var(--liwe3-dark-success-500-hover);
        --item-hover-bg: var(--liwe3-dark-success-700-hover);
        --list-background: var(--liwe3-dark-success);
    }

    .svelte-select.warning {
        --background: var(--liwe3-dark-warning);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-warning-200-border);
        --placeholder-color: var(--liwe3-dark-warning-500-text);
        --item-color: var(--liwe3-dark-warning-500-text);
        --item-hover-color: var(--liwe3-dark-warning-500-hover);
        --item-hover-bg: var(--liwe3-dark-warning-700-hover);
        --list-background: var(--liwe3-dark-warning);
    }

    .svelte-select.error {
        --background: var(--liwe3-dark-error);
        --border-radius: var(--liwe3-border-radius);
        --border: var(--liwe3-border-width) solid var(--liwe3-dark-error-200-border);
        --placeholder-color: var(--liwe3-dark-error-500-text);
        --item-color: var(--liwe3-dark-error-500-text);
        --item-hover-color: var(--liwe3-dark-error-500-hover);
        --item-hover-bg: var(--liwe3-dark-error-700-hover);
        --list-background: var(--liwe3-dark-error);
    }
}