@import url('./liwe3-theme.css');
/*@import url('./liwe3-colors.css');*/
@import url('./liwe3-grid.css');
@import url('./liwe3-typography.css');
@import url('./liwe3-forms.css');
@import url('./liwe3-buttons.css');

/* Base HTML / body styles */
html {
  position: relative;
  width: 100%;
  font-size: var(--liwe3-font-size);
}

body {
  width: 100%;
  background-color: var(--liwe3-background);
  font-family: var(--liwe3-font-family);
  font-size: var(--liwe3-font-size);
  font-weight: var(--liwe3-font-weight);
  color: var(--liwe3-color);
}

/* BROWSER RESET RULES */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: none;
  border: none;
  font: inherit;
}

/* end reset rules */
html {
  position: relative;
  width: 100%;
  font-size: var(--liwe3-font-size);
}

body {
  width: 100%;
  background-color: var(--liwe3-background);
  font-family: var(--liwe3-font-family);
  font-size: var(--liwe3-font-size);
  font-weight: var(--liwe3-font-weight);
  color: var(--liwe3-color);
}