/* LAYOUT */
/* flex */
.liwe3-container-fluid {
    width: 100%;
    padding: 0 1.5rem;
}

.liwe3-container {
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.liwe3-flex-start {
    justify-content: flex-start !important;
}

.liwe3-flex-end {
    justify-content: flex-end !important;
}

.liwe3-flex-center {
    justify-content: center !important;
}

.liwe3-flex-between {
    justify-content: space-between !important;
}

.liwe3-flex-around {
    justify-content: space-around !important;
}

.liwe3-flex-evenly {
    justify-content: space-evenly !important;
}

.liwe3-flex-top {
    align-items: flex-start !important;
}

.liwe3-flex-bottom {
    align-items: flex-end !important;
}

.liwe3-flex-middle {
    align-items: center !important;
}

.liwe3-flex-stretch {
    align-items: stretch !important;
}

.liwe3-flex-baseline {
    align-items: baseline !important;
}

.liwe3-fullwidth {
    min-width: 100%;
    width: 100%;
}

.liwe3-round {
    border-radius: 50%;
}

.liwe3-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: -0;
    width: 100%;
}

.liwe3-p1 {
    padding: var(--liwe3-space-1) !important;
}

.liwe3-p2 {
    padding: var(--liwe3-space-2) !important;
}

.liwe3-p3 {
    padding: var(--liwe3-space-3) !important;
}

.liwe3-p4 {
    padding: var(--liwe3-space-4) !important;
}

.liwe3-m1 {
    padding: var(--liwe3-space-1) !important;
}

.liwe3-m2 {
    padding: var(--liwe3-space-2) !important;
}

.liwe3-m3 {
    padding: var(--liwe3-space-3) !important;
}

.liwe3-m4 {
    padding: var(--liwe3-space-4) !important;
}

.liwe3-p1,
.liwe3-p2,
.liwe3-p3,
.liwe3-p4 {
    &.x {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    &.y {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

.liwe3-m1,
.liwe3-m2,
.liwe3-m3,
.liwe3-m4 {
    &.x {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    &.y {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

.liwe3-row .liwe3-col {
    position: relative;
    width: 100%;
}

@media (min-width: 0) {
    .liwe3-col-xs1 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs1 {
        margin-left: calc((100 / 12 * 1) * 1%) !important;
    }

    .liwe3-col-xs2 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs2 {
        margin-left: calc((100 / 12 * 2) * 1%) !important;
    }

    .liwe3-col-xs3 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs3 {
        margin-left: calc((100 / 12 * 3) * 1%) !important;
    }

    .liwe3-col-xs4 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs4 {
        margin-left: calc((100 / 12 * 4) * 1%) !important;
    }

    .liwe3-col-xs5 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs5 {
        margin-left: calc((100 / 12 * 5) * 1%) !important;
    }

    .liwe3-col-xs6 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs6 {
        margin-left: calc((100 / 12 * 6) * 1%) !important;
    }

    .liwe3-col-xs7 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs7 {
        margin-left: calc((100 / 12 * 7) * 1%) !important;
    }

    .liwe3-col-xs8 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs8 {
        margin-left: calc((100 / 12 * 8) * 1%) !important;
    }

    .liwe3-col-xs9 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs9 {
        margin-left: calc((100 / 12 * 9) * 1%) !important;
    }

    .liwe3-col-xs10 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs10 {
        margin-left: calc((100 / 12 * 10) * 1%) !important;
    }

    .liwe3-col-xs11 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs11 {
        margin-left: calc((100 / 12 * 11) * 1%) !important;
    }

    .liwe3-col-xs12 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xs12 {
        margin-left: calc((100 / 12 * 12) * 1%) !important;
    }
}

@media (min-width: 640px) {
    .liwe3-col-sm1 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm1 {
        margin-left: calc((100 / 12 * 1) * 1%) !important;
    }

    .liwe3-col-sm2 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm2 {
        margin-left: calc((100 / 12 * 2) * 1%) !important;
    }

    .liwe3-col-sm3 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm3 {
        margin-left: calc((100 / 12 * 3) * 1%) !important;
    }

    .liwe3-col-sm4 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm4 {
        margin-left: calc((100 / 12 * 4) * 1%) !important;
    }

    .liwe3-col-sm5 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm5 {
        margin-left: calc((100 / 12 * 5) * 1%) !important;
    }

    .liwe3-col-sm6 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm6 {
        margin-left: calc((100 / 12 * 6) * 1%) !important;
    }

    .liwe3-col-sm7 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm7 {
        margin-left: calc((100 / 12 * 7) * 1%) !important;
    }

    .liwe3-col-sm8 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm8 {
        margin-left: calc((100 / 12 * 8) * 1%) !important;
    }

    .liwe3-col-sm9 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm9 {
        margin-left: calc((100 / 12 * 9) * 1%) !important;
    }

    .liwe3-col-sm10 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm10 {
        margin-left: calc((100 / 12 * 10) * 1%) !important;
    }

    .liwe3-col-sm11 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm11 {
        margin-left: calc((100 / 12 * 11) * 1%) !important;
    }

    .liwe3-col-sm12 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-sm12 {
        margin-left: calc((100 / 12 * 12) * 1%) !important;
    }
}

@media (min-width: 768px) {
    .liwe3-col-md1 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md1 {
        margin-left: calc((100 / 12 * 1) * 1%) !important;
    }

    .liwe3-col-md2 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md2 {
        margin-left: calc((100 / 12 * 2) * 1%) !important;
    }

    .liwe3-col-md3 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md3 {
        margin-left: calc((100 / 12 * 3) * 1%) !important;
    }

    .liwe3-col-md4 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md4 {
        margin-left: calc((100 / 12 * 4) * 1%) !important;
    }

    .liwe3-col-md5 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md5 {
        margin-left: calc((100 / 12 * 5) * 1%) !important;
    }

    .liwe3-col-md6 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md6 {
        margin-left: calc((100 / 12 * 6) * 1%) !important;
    }

    .liwe3-col-md7 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md7 {
        margin-left: calc((100 / 12 * 7) * 1%) !important;
    }

    .liwe3-col-md8 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md8 {
        margin-left: calc((100 / 12 * 8) * 1%) !important;
    }

    .liwe3-col-md9 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md9 {
        margin-left: calc((100 / 12 * 9) * 1%) !important;
    }

    .liwe3-col-md10 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md10 {
        margin-left: calc((100 / 12 * 10) * 1%) !important;
    }

    .liwe3-col-md11 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md11 {
        margin-left: calc((100 / 12 * 11) * 1%) !important;
    }

    .liwe3-col-md12 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-md12 {
        margin-left: calc((100 / 12 * 12) * 1%) !important;
    }
}

@media (min-width: 1024px) {
    .liwe3-col-lg1 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg1 {
        margin-left: calc((100 / 12 * 1) * 1%) !important;
    }

    .liwe3-col-lg2 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg2 {
        margin-left: calc((100 / 12 * 2) * 1%) !important;
    }

    .liwe3-col-lg3 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg3 {
        margin-left: calc((100 / 12 * 3) * 1%) !important;
    }

    .liwe3-col-lg4 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg4 {
        margin-left: calc((100 / 12 * 4) * 1%) !important;
    }

    .liwe3-col-lg5 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg5 {
        margin-left: calc((100 / 12 * 5) * 1%) !important;
    }

    .liwe3-col-lg6 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg6 {
        margin-left: calc((100 / 12 * 6) * 1%) !important;
    }

    .liwe3-col-lg7 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg7 {
        margin-left: calc((100 / 12 * 7) * 1%) !important;
    }

    .liwe3-col-lg8 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg8 {
        margin-left: calc((100 / 12 * 8) * 1%) !important;
    }

    .liwe3-col-lg9 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg9 {
        margin-left: calc((100 / 12 * 9) * 1%) !important;
    }

    .liwe3-col-lg10 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg10 {
        margin-left: calc((100 / 12 * 10) * 1%) !important;
    }

    .liwe3-col-lg11 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg11 {
        margin-left: calc((100 / 12 * 11) * 1%) !important;
    }

    .liwe3-col-lg12 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-lg12 {
        margin-left: calc((100 / 12 * 12) * 1%) !important;
    }
}

@media (min-width: 1280px) {
    .liwe3-col-xl1 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl1 {
        margin-left: calc((100 / 12 * 1) * 1%) !important;
    }

    .liwe3-col-xl2 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl2 {
        margin-left: calc((100 / 12 * 2) * 1%) !important;
    }

    .liwe3-col-xl3 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl3 {
        margin-left: calc((100 / 12 * 3) * 1%) !important;
    }

    .liwe3-col-xl4 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl4 {
        margin-left: calc((100 / 12 * 4) * 1%) !important;
    }

    .liwe3-col-xl5 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl5 {
        margin-left: calc((100 / 12 * 5) * 1%) !important;
    }

    .liwe3-col-xl6 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl6 {
        margin-left: calc((100 / 12 * 6) * 1%) !important;
    }

    .liwe3-col-xl7 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl7 {
        margin-left: calc((100 / 12 * 7) * 1%) !important;
    }

    .liwe3-col-xl8 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl8 {
        margin-left: calc((100 / 12 * 8) * 1%) !important;
    }

    .liwe3-col-xl9 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl9 {
        margin-left: calc((100 / 12 * 9) * 1%) !important;
    }

    .liwe3-col-xl10 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl10 {
        margin-left: calc((100 / 12 * 10) * 1%) !important;
    }

    .liwe3-col-xl11 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl11 {
        margin-left: calc((100 / 12 * 11) * 1%) !important;
    }

    .liwe3-col-xl12 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xl12 {
        margin-left: calc((100 / 12 * 12) * 1%) !important;
    }
}

@media (min-width: 1536px) {
    .liwe3-col-xxl1 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 1) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl1 {
        margin-left: calc((100 / 12 * 1) * 1%) !important;
    }

    .liwe3-col-xxl2 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 2) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl2 {
        margin-left: calc((100 / 12 * 2) * 1%) !important;
    }

    .liwe3-col-xxl3 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 3) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl3 {
        margin-left: calc((100 / 12 * 3) * 1%) !important;
    }

    .liwe3-col-xxl4 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 4) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl4 {
        margin-left: calc((100 / 12 * 4) * 1%) !important;
    }

    .liwe3-col-xxl5 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 5) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl5 {
        margin-left: calc((100 / 12 * 5) * 1%) !important;
    }

    .liwe3-col-xxl6 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 6) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl6 {
        margin-left: calc((100 / 12 * 6) * 1%) !important;
    }

    .liwe3-col-xxl7 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 7) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl7 {
        margin-left: calc((100 / 12 * 7) * 1%) !important;
    }

    .liwe3-col-xxl8 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 8) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl8 {
        margin-left: calc((100 / 12 * 8) * 1%) !important;
    }

    .liwe3-col-xxl9 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 9) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl9 {
        margin-left: calc((100 / 12 * 9) * 1%) !important;
    }

    .liwe3-col-xxl10 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 10) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl10 {
        margin-left: calc((100 / 12 * 10) * 1%) !important;
    }

    .liwe3-col-xxl11 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 11) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl11 {
        margin-left: calc((100 / 12 * 11) * 1%) !important;
    }

    .liwe3-col-xxl12 {
        flex: 0 0 calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-width: calc((((100 - (0 * (12 - 1))) / 12) * 12) * 1%);
        max-height: calc((100 - (0 *2)) * 1%);
        margin: calc(0 * 1%) calc(0 * 1%);
    }

    .liwe3-offset-xxl12 {
        margin-left: calc((100 / 12 * 12) * 1%) !important;
    }
}

.liwe3-col1 {
    flex: 0 0 calc(((100 / 12) * 1) * 1%);
    max-width: calc(((100 / 12 * 1) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col2 {
    flex: 0 0 calc(((100 / 12) * 2) * 1%);
    max-width: calc(((100 / 12 * 2) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col3 {
    flex: 0 0 calc(((100 / 12) * 3) * 1%);
    max-width: calc(((100 / 12 * 3) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col4 {
    flex: 0 0 calc(((100 / 12) * 4) * 1%);
    max-width: calc(((100 / 12 * 4) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col5 {
    flex: 0 0 calc(((100 / 12) * 5) * 1%);
    max-width: calc(((100 / 12 * 5) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col6 {
    flex: 0 0 calc(((100 / 12) * 6) * 1%);
    max-width: calc(((100 / 12 * 6) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col7 {
    flex: 0 0 calc(((100 / 12) * 7) * 1%);
    max-width: calc(((100 / 12 * 7) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col8 {
    flex: 0 0 calc(((100 / 12) * 8) * 1%);
    max-width: calc(((100 / 12 * 8) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col9 {
    flex: 0 0 calc(((100 / 12) * 9) * 1%);
    max-width: calc(((100 / 12 * 9) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col10 {
    flex: 0 0 calc(((100 / 12) * 10) * 1%);
    max-width: calc(((100 / 12 * 10) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col11 {
    flex: 0 0 calc(((100 / 12) * 11) * 1%);
    max-width: calc(((100 / 12 * 11) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col12 {
    flex: 0 0 calc(((100 / 12) * 12) * 1%);
    max-width: calc(((100 / 12 * 12) - (0 *2)) * 1%);
    max-height: calc((100 - (0 *2)) * 1%);
    margin: 0 0;
    /* these are used to make all cols the same height */
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.liwe3-col-offset1 {
    margin-left: 8.333333%;
}

.liwe3-col-offset2 {
    margin-left: 16.666667%;
}

.liwe3-col-offset3 {
    margin-left: 25%;
}

.liwe3-col-offset4 {
    margin-left: 33.333333%;
}

.liwe3-col-offset5 {
    margin-left: 41.666667%;
}

.liwe3-col-offset6 {
    margin-left: 50%;
}

.liwe3-col-offset7 {
    margin-left: 58.333333%;
}

.liwe3-col-offset8 {
    margin-left: 66.666667%;
}

.liwe3-col-offset9 {
    margin-left: 75%;
}

.liwe3-col-offset10 {
    margin-left: 83.333333%;
}

.liwe3-col-offset11 {
    margin-left: 91.666667%;
}

.liwe3-spaced-1 {
    margin: var(--liwe3-space-1);
}

.liwe3-spaced-hor-1 {
    margin: 0 var(--liwe3-space-1);
}

.liwe3-spaced-ver-1 {
    margin: var(--liwe3-space-1) 0;
}

.liwe3-spaced-2 {
    margin: var(--liwe3-space-2);
}

.liwe3-spaced-hor-2 {
    margin: 0 var(--liwe3-space-2);
}

.liwe3-spaced-ver-2 {
    margin: var(--liwe3-space-2) 0;
}

.liwe3-spaced-3 {
    margin: var(--liwe3-space-3);
}

.liwe3-spaced-hor-3 {
    margin: 0 var(--liwe3-space-3);
}

.liwe3-spaced-ver-3 {
    margin: var(--liwe3-space-3) 0;
}

.liwe3-spaced-4 {
    margin: var(--liwe3-space-4);
}

.liwe3-spaced-hor-4 {
    margin: 0 var(--liwe3-space-4);
}

.liwe3-spaced-ver-4 {
    margin: var(--liwe3-space-4) 0;
}

.liwe3-bordered-section {
    border: 1px solid var(--liwe3-darker-secondary-color);
    border-radius: var(--liwe3-border-radius);
    padding: var(--liwe3-space-2) var(--liwe3-space-3);
}

@media (max-width: 0) {
    .liwe3-container {
        max-width: calc(0 - 1rem);
    }
}

@media (min-width: 640px) {
    .liwe3-container {
        max-width: calc(640px - 1rem);
    }
}

@media (min-width: 768px) {
    .liwe3-container {
        max-width: calc(768px - 1rem);
    }
}

@media (min-width: 1024px) {
    .liwe3-container {
        max-width: calc(1024px - 1rem);
    }
}

@media (min-width: 1280px) {
    .liwe3-container {
        max-width: calc(1280px - 2rem);
    }
}

@media (min-width: 1536px) {
    .liwe3-container {
        max-width: calc(1536px - 2rem);
    }
}

@media (min-width: 1930px) {
    .liwe3-container {
        max-width: 1930px;
    }
}