/* colors */
.liwe3-bg-main {
    background-color: var(--liwe3-main-bg-color) !important;
}

.liwe3-bg-primary {
    background-color: var(--liwe3-primary-color) !important;
}

.liwe3-bg-primary-dark {
    background-color: var(--liwe3-darker-primary-color) !important;
}

.liwe3-bg-primary-light {
    background-color: var(--liwe3-lighter-primary-color) !important;
}

.liwe3-bg-primary-comp {
    background-color: var(--liwe3-comp-primary-color) !important;
}

.liwe3-bg-secondary {
    background-color: var(--liwe3-secondary-color) !important;
}

.liwe3-bg-secondary-dark {
    background-color: var(--liwe3-darker-secondary-color) !important;
}

.liwe3-bg-secondary-light {
    background-color: var(--liwe3-lighter-secondary-color) !important;
}

.liwe3-bg-secondary-comp {
    background-color: var(--liwe3-comp-secondary-color) !important;
}

.liwe3-bg-light {
    background-color: var(--liwe3-lighter-secondary-color) !important;
}

.liwe3-bg-success {
    background-color: var(--liwe3-success-color) !important;
}

.liwe3-bg-danger {
    background-color: var(--liwe3-error-color) !important;
}

.liwe3-bg-warning {
    background-color: var(--liwe3-warning-color) !important;
}

.liwe3-bg-info {
    background-color: var(--liwe3-info-color) !important;
}

.liwe3-bg-light {
    background-color: var(--liwe3-light-color) !important;
}

.liwe3-bg-dark {
    background-color: var(--liwe3-dark-color) !important;
}

.liwe3-bg-alternative {
    background-color: var(--liwe3-alternative-color) !important;
}

.liwe3-txt-primary {
    color: var(--liwe3-primary-color) !important;
}

.liwe3-txt-primary-dark {
    color: var(--liwe3-darker-primary-color) !important;
}

.liwe3-txt-primary-light {
    color: var(--liwe3-lighter-primary-color) !important;
}

.liwe3-txt-primary-comp {
    color: var(--liwe3-comp-primary-color) !important;
}

.liwe3-txt-secondary {
    color: var(--liwe3-secondary-color) !important;
}

.liwe3-txt-secondary-dark {
    color: var(--liwe3-darker-secondary-color) !important;
}

.liwe3-txt-secondary-light {
    color: var(--liwe3-lighter-secondary-color) !important;
}

.liwe3-txt-secondary-comp {
    color: var(--liwe3-comp-secondary-color) !important;
}

.liwe3-txt-light {
    color: var(--liwe3-light-color) !important;
}

.liwe3-txt-dark {
    color: var(--liwe3-dark-color) !important;
}

.liwe3-txt-success {
    color: var(--liwe3-success-color) !important;
}

.liwe3-txt-error,
.liwe3-txt-danger {
    color: var(--liwe3-error-color) !important;
}

.liwe3-txt-warning {
    color: var(--liwe3-warning-color) !important;
}

.liwe3-txt-info {
    color: var(--liwe3-info-color) !important;
}

.liwe-txt-alternative {
    color: var(--liwe3-alternative-color) !important;
}